.atencion-publico {
    background-color: rgb(109, 191, 27);
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    box-shadow: #242424 0px 0px 10px;
}
.atencion-publico p {
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    color: rgb(242, 93, 38);
    color: #3c3b3b;
    text-shadow: 0px 1px 2px #f5eaea;
    font-family: "sigmar";
}
@media only screen and (min-width: 800px) {
    .atencion-publico p {
        width: 75%;
        font-size: 30px;
        padding: 20px;
    }
}