*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Black+Ops+One&family=Bungee+Shade&family=Gravitas+One&family=Quantico:ital,wght@0,700;1,700&family=Rubik+Moonrocks&family=Smokum&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&family=Vina+Sans&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f5eaea;
}
body, #root {
  width: 100vw;
  overflow-x: hidden;
}
